

/* ==========================================================================
   Home page styles
   ========================================================================== */
.category-tile {
  border: 1px;
  background-color: #FFDC5C;
  margin: 10px 10px auto;
}
















